import React, { Component } from 'react';
import { connect } from 'react-redux';

const mapDispatchToProps = dispatch => {
  return {
    openModal: () => dispatch({ type: 'OPEN_MODAL' })
  };
};

const mapStateToProps = state => {
  return {
    showModal: state.modal.showModal
  };
};

export class MyComponent extends Component {
  render() {
    return (
      <div>
        <button onClick={ this.props.openModal }>
          happy coding
        </button>
        <Modal isOpen={ this.props.showModal } />
      </div>
    );
  }
}

const createConnectedComponent = connect(
  mapStateToProps,
  mapDispatchToProps
);

export default createConnectedComponent(MyComponent);
